.navbar{
    display: flex;
    height: 60px;
    margin-top: 10px;
    margin-left:3%;
    width:94%;
    border:solid 2px hsl(0, 0%, 80%);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}
.menu-btn{
    margin-top: 5px;
    margin-left: 20px;
}
.bar{
    height: 5px;
    width: 30px;
    background-color:#cccccc;
    margin-bottom: 5px;
    border-radius: 5px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #585858;
}